Acesta este un notebook unde vom prezenta principalele structuri de date din Python, functii si clase.

Principalele structuri de date din Python sunt:
- liste
- tuples
- sets
- dictionaries

In [19]:
# lista
l = [1, 2, 3, 4, 5, "a", "b"]
l[0] = 10

# tuple
t = (1, 1, 1, 10)
print(t[0])

# set (echivalentul unei multimi)
s1 = {1, 2, 3, 4, 1, 1, 1, 1, 1}
s2 = {1, 2, 4, 6, 6, 6, 6}
print(s1.intersection(s2))

# dictionaries
d = {
    "name": "A",
    "courses": [
        {
            "name": "Web Apps 1",
            "year": 2,
            "status": "in-progress"
        },
        {
            "name": "C#",
            "year": 2
        },
        {
            "name": "C++",
            "year": 1,
            "status": "completed"
        }
    ]
}

courses = d["courses"]
in_progress_num = 0

missing_status = []

for course in courses:
  if course.get("status") is not None and course["status"] == "in-progress":
    in_progress_num = in_progress_num + 1 # += 1
  elif course.get("status") is None:
    missing_status.append(course)

print(in_progress_num)
print(missing_status)

idx = courses.index(missing_status[0])
courses[idx]["status"] = "in-progress"
courses

1
{1, 2, 4}
1
[{'name': 'C#', 'year': 2}]

[{'name': 'Web Apps 1', 'year': 2, 'status': 'in-progress'},
 {'name': 'C#', 'year': 2, 'status': 'in-progress'},
 {'name': 'C++', 'year': 1, 'status': 'completed'}]

In [20]:
N = 10000000
l1 = []
for i in range(N):
  l1.append(i)

In [22]:
l2 = [i for i in range(N)]

In [35]:
def update_courses(courses, course_name, course_year=1, course_status=None, *args, **kwargs):
  course = {
      "name": course_name,
      "year": course_year,
      "status": course_status
  }
  if len(args) == 1:
    idx = args[0]
  elif kwargs.get("index") is not None:
    idx = kwargs.get("index")
  else:
    idx = len(courses) - 1

  courses.insert(idx, course)
  return courses

In [24]:
courses = update_courses(courses, "n", 1, "completed")
print(courses)

[{'name': 'Web Apps 1', 'year': 2, 'status': 'in-progress'}, {'name': 'C#', 'year': 2, 'status': 'in-progress'}, {'name': 'n', 'year': 1, 'status': 'completed'}, {'name': 'C++', 'year': 1, 'status': 'completed'}]

In [25]:
courses = update_courses(courses=courses, course_name="curs 2", course_year=1, course_status="completed")
print(courses)

[{'name': 'Web Apps 1', 'year': 2, 'status': 'in-progress'}, {'name': 'C#', 'year': 2, 'status': 'in-progress'}, {'name': 'n', 'year': 1, 'status': 'completed'}, {'name': 'curs 2', 'year': 1, 'status': 'completed'}, {'name': 'C++', 'year': 1, 'status': 'completed'}]

In [26]:
courses = update_courses(courses, course_year=1, course_name="curs 3", course_status="completed")
print(courses)

[{'name': 'Web Apps 1', 'year': 2, 'status': 'in-progress'}, {'name': 'C#', 'year': 2, 'status': 'in-progress'}, {'name': 'n', 'year': 1, 'status': 'completed'}, {'name': 'curs 2', 'year': 1, 'status': 'completed'}, {'name': 'curs 3', 'year': 1, 'status': 'completed'}, {'name': 'C++', 'year': 1, 'status': 'completed'}]

In [36]:
courses = update_courses(courses=courses, course_name="curs 5", course_year=1, course_status="completed", index=0)
print(courses)

() {'index': 0}
[{'name': 'curs 5', 'year': 1, 'status': 'completed'}, {'name': 'curs 5', 'year': 1, 'status': 'completed'}, {'name': 'Web Apps 1', 'year': 2, 'status': 'in-progress'}, {'name': 'C#', 'year': 2, 'status': 'in-progress'}, {'name': 'n', 'year': 1, 'status': 'completed'}, {'name': 'curs 2', 'year': 1, 'status': 'completed'}, {'name': 'curs 3', 'year': 1, 'status': 'completed'}, {'name': 'curs 2', 'year': 1, 'status': 'completed'}, {'name': 'curs 2', 'year': 1, 'status': 'completed'}, {'name': 'curs 4', 'year': 1, 'status': 'completed'}, {'name': 'curs 5', 'year': 1, 'status': 'completed'}, {'name': 'C++', 'year': 1, 'status': 'completed'}]

In [37]:
courses = update_courses(courses, "curs 6", 2, "in-progress", 0)
print(courses)

(0,) {}
[{'name': 'curs 6', 'year': 2, 'status': 'in-progress'}, {'name': 'curs 5', 'year': 1, 'status': 'completed'}, {'name': 'curs 5', 'year': 1, 'status': 'completed'}, {'name': 'Web Apps 1', 'year': 2, 'status': 'in-progress'}, {'name': 'C#', 'year': 2, 'status': 'in-progress'}, {'name': 'n', 'year': 1, 'status': 'completed'}, {'name': 'curs 2', 'year': 1, 'status': 'completed'}, {'name': 'curs 3', 'year': 1, 'status': 'completed'}, {'name': 'curs 2', 'year': 1, 'status': 'completed'}, {'name': 'curs 2', 'year': 1, 'status': 'completed'}, {'name': 'curs 4', 'year': 1, 'status': 'completed'}, {'name': 'curs 5', 'year': 1, 'status': 'completed'}, {'name': 'C++', 'year': 1, 'status': 'completed'}]

In [46]:
class Course:
  STATUS = ["in-progress", "completed", "failed", "not-started"]

  def __init__(self, name, year, status):
    self.name = name
    self.year = year
    self.status = status
    self.validate()

  def validate(self):
    if not isinstance(self.name, str):
      raise ValueError(f"Invalid name format = {type(self.name)}.")
    
    if self.year < 1 or self.year > 3:
      raise ValueError(f"Invalid year = {self.year}.")

    if self.status not in self.STATUS:
      raise ValueError(f"Invalid status = {self.status}.")

course1 = Course("Curs 1", 1, "completed")
course2 = Course("Curs 2", 2, "in-progress")

In [ ]:
student = {
    "name": "S",
    "courses": [
        Course("Curs 1", 1, "completed"),
        Course("Curs 2", 2, "in-progress")
    ]
}

In [47]:
class MasterCourse(Course):
  
  def __init__(self, name, year, status, points):
    super(MasterCourse, self).__init__(name, year, status)

    self.points = points